.container{
  box-sizing: border-box;
  width: 80%;
  margin:0 auto;
  padding: 5px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="container"] {
    width: 100%;
  }
}

.c-search { 
  display: flex; 
  margin: 0 auto; 
  width: 80%; } 
  
  .c-search__input { 
    display: block; 
    flex-grow: 1; 
    margin-right: 10px; 
  }

  .i-frame {

    overflow: hidden;
    width: 100%;
    
    
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
  }


  .light-theme-bg, .light-theme-bg p,
  .light-theme-bg h1,.light-theme-bg h2,
  .light-theme-bg h4{
    background: azure;
    color: rgb(17, 17, 17);
}

  .light-typo{
    color:white;
  }



/*  headings */
.headings{
  display:flex;
  flex-direction:column;
  text-align:center;
}
.topHeading{
  font-weight:bold;
  font-size:3em;
  margin-bottom:5px;
  margin-top: 5px;
}
.subHeading{
  margin-top: 0;
}


  
